body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

/* SECTION */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}

/* HEADINGS */
.big-heading{
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/* CONTAINERS */

.container-fluid{
  padding: 7% 15%;
}

/* TITLE SECTION */

#title{
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.iphone{
  transform: rotate(25deg);
  width: 53%;
  position: absolute;
  right: 30%;
}

.navbar{
  padding: 0 0 4.5rem 0;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-weight: lighter;
}

/* DOWNLOAD BUTTON */
.download-button {
  margin: 5% 3% 5% 0;
}

/* FEATURE SECTION */

#features{
  padding:5rem;
  position: relative;
}

.features-title{
  font-size: 1.5rem;
}

.row{
  font-family: "Montserrat";
}

.section-icon{
  color:#ef8172;
  margin-bottom: 1rem;
}

.section-icon:hover{
  color:#ff4c68;
}

.con{
  color: #8f8f8f;
  width: 60%;
  margin: auto 20%;
}

.features-box{
  margin: 5% auto;
}
/* TESTIMONIAL SECTION */

#testimonials{
  background-color: #ef8172;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin: 30px;

}

/* PRESS SECTION */

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* PRICING SECTION */
#pricing {
  padding: 100px;
}

.pricing-text{
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-col{
  padding: 3% 2%;
}

.small{
  font-size: 2rem;
  font-weight: bold;
}

/* FOOTER SECTION */

.social-icon{
  margin: 2% 1%;
}

/* MEDIA SECTION */

@media (max-width: 991px){
  .iphone{
    position: static;
    transform: rotate(0);
  }
  h1{
    text-align: center;
  }
}

@media (max-width: 1046px) and (min-width: 992px){
  .download-button{
    width : max-content;
    padding: 2px;
  }
}
